.player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconBack {
  font-size: larger;
  position: absolute;
  top: 25px;
  left: 0;
  width: 50px;
  cursor: pointer;
}

.player iframe {
  border-radius: 10px;
}

.playerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
